.squares ul {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  gap: 10px;
  padding: 0 25px;
}

.squares ul img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 100px) and (max-width: 830px) {
  .squares ul {
    padding: 0;
    gap: 10px;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}
