.Mainbanner {
  position: relative;
}

.Mainbanner img {
  max-height: 400px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.Mainbanner div {
  position: absolute;
  top: 30%;
  left: 5%;
  background-color: rgba(255, 255, 255, 0.391);
  padding: 25px 35px;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

@media only screen and (min-width: 100px) and (max-width: 830px) {
  .Mainbanner div {
    max-width: 165px;
    padding: 10px 20px;
  }

  .Mainbanner h1 {
    font-size: 16px;
  }

  .Mainbanner p {
    font-size: 12px;
  }
}
